<div class="document-container">
    <h2>📄 List Document</h2>
    <a routerLink="/add" class="add-button">
        <i class="fas fa-plus-circle"></i> Add
    </a>

    <ul class="document-list">
        <li *ngFor="let doc of documents" class="document-item">
            <strong>{{ doc.title }}</strong>
            <div class="actions">
                <a [routerLink]="['/detail', doc.id]" class="view-button">
                    <i class="fas fa-eye"></i> View
                </a>
                <button (click)="deleteDoc(doc.id)" class="delete-button">
          <i class="fas fa-trash-alt"></i> Delete
        </button>
            </div>
        </li>
    </ul>
</div>